body {
    /* On change la couleur de fond */
    background-color: #BFEDFF;
}

h1 {
    /* On change la couleur de fond */
    background-color: #DCF5FF;
    /* On veut mettre un cadre coloré au titre. */
    border-color: darkblue;
    /* Par défaut, le cadre est invisible ; on le rend visible. */
    border-style: hidden;
    /* Cadre arrondis */
    border-radius: 20px;
    /* On centre le texte dans le cadre. */
    text-align: center;
    /* Change la couleur */
    color: midnightblue;
    /* change la police */
    font-family: Tahoma;
    /* Va prendre 80% de l'écran */
    width: 80%;
    /* centrer horizontalemnt */
    margin: 20px auto;
    /* Augmente les marges vertical intérieur */
    padding: 5px 0px;
    /* l'espace entre les lettres */
    letter-spacing: .1em;
    /* ombre sur le texte */
    text-shadow: 1px 0 30px;
    /* ombre de la box */
    box-shadow: black 1px 0 15px;
}

    
img {
    /* forme de la box */
    clip-path: circle();
}

footer {
    /* Définit la marges basse extérieure */
    margin-top: 10px;
}